.paper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

:root {
  --black: hsl(0, 0%, 13%);
  --dark: hsl(12, 32%, 2%);
  --gray: hsl(0, 0%, 70%);
  --white: hsl(0, 0%, 96%);
  --red: hsl(12, 90%, 63%);
  --red-shadow: hsl(12, 100%, 60%);
  --red-sheen: linear-gradient(
    to bottom,
    hsl(12, 90%, 43%),
    hsla(12, 40%, 70%, 0.5) 50%,
    hsl(12, 93%, 23%)
  );
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  height: 100%;
  align-items: stretch;
}

.dashboard .card {
  position: relative;
  width: calc(50% - 20px);
  height: calc(100% - 20px);
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .card p,
div {
  color: var(--red);
}

.dashboard .card .text {
  color: var(--red);
}

.dashboard .card img {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
}

.dashboard .card .content {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
  transition-delay: 0.1s;
  cursor: pointer;
}

.dashboard .card:hover .content {
  bottom: 0px;
  transition-delay: 0s;
}

.dashboard .card .content .contentBx h3 {
  color: #ff8a8a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.1em;
  text-align: center;
  margin: 5px 0 15px;
  transition: 0.1s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.1s;
}

.dashboard .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0px);
}

.dashboard .card .content .contentBx h3 span {
  font-size: 9px;
  font-weight: 300;
  text-transform: initial;
}

@import "https://unpkg.com/open-props@1.6.17/easings.min.css";
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
@keyframes glow {
  50% {
    box-shadow: 0 0 40px hsl(12, 100%, 60%);
  }
}

[anim="glow"]:not(.toggled) {
  animation: glow var(--ease-elastic-in-1) 600ms infinite alternate;
}

[anim="sheen"]:not(.toggled)::after {
  animation: sheen var(--ease-elastic-in-1) 1s infinite;
}

[anim="sheen"]::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: var(--red-sheen);
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

section {
  color: var(--white);
  font-family: "aglet-mono-variable", sans-serif;
  font-variation-settings: "wght" 400;
}

.contentBx button {
  all: unset;
  background-color: var(--black);
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border: 1px solid var(--red);
  box-shadow: 0 0 4px var(--red-shadow);
  cursor: pointer;
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}

.blurry {
  position: relative;
  transform-style: preserve-3d;
}

.blurry::before {
  content: "";
  position: absolute;
  inset: 0px;
  transform: translate3d(0px, 0px, -1px);
  background: var(--red-shadow);
  filter: blur(6px);
}
