:root {
  --black: hsl(0, 0%, 13%);
  --dark: hsl(12, 32%, 2%);
  --gray: hsl(0, 0%, 70%);
  --white: hsl(0, 0%, 96%);
  --red: hsl(12, 90%, 63%);
  --red-shadow: hsl(12, 100%, 60%);
  --red-sheen: linear-gradient(
    to bottom,
    hsl(12, 90%, 43%),
    hsla(12, 40%, 70%, 0.5) 50%,
    hsl(12, 93%, 23%)
  );
  --stripe-size: 150px;
  --duration: 2s;
}

.container-body {
  background-color: var(--black);
  height: 100vh;
  justify-content: center;
  display: flex;
  padding: 1.5rem;
}

.cus-bg-black {
  background-color: var(--black);
}

// border animation

.border-animation {
  padding: 1.5rem;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );

  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #08f,
    #f03 99%,
    transparent
  );

  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.glassmorph {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.stripe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &_inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: rgba(#fff, 0);
    background: repeating-linear-gradient(
      45deg,
      var(--red) 25%,
      var(--red) 50%,
      var(--black) 50%,
      var(--black) 75%
    );
    background-size: var(--stripe-size) var(--stripe-size);
    background-clip: text;
    animation: stripeBackgroundPosition var(--duration) linear infinite;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--stripe-size));
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      var(--black) 25%,
      var(--black) 50%,
      var(--red) 50%,
      var(--red) 75%
    );
    background-size: var(--stripe-size) var(--stripe-size);
    animation: stripeTransform var(--duration) linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      ellipse at center,
      rgba(#1b2735, 0) 0%,
      #090a0f 100%
    );
  }
}

@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(var(--stripe-size) * -1));
  }
}

@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--stripe-size) * -1) 0;
  }
}

.room-table {
  & td,
  th {
    padding: 5px;
    border: 1px solid var(--black);
    color: var(--black);
  }
}
